@media(min-width: 0px)
{
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        height: 100%;
        min-height: unset;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-bottom: 5rem;
    }
}