@media(min-width: 0px)
{
    /* overrides */
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    html,
    body,
    main {
        width: 100%;
        height: 100%;
        min-height: unset;
    }

    main {
        height: auto;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    header {
        flex: 0 0 auto;
    }
    /*overrides*/

    #account-heading {
        text-align: center;
        color: var(--text-color-light);
        display: block;
    }

    #system-grid {
        display: grid;
        grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 0px;
        grid-template-rows: auto auto auto;
        column-gap: 1rem;
        flex: 1;
        row-gap: 1rem;
        padding: 1rem;
        width: 100%;
        height: 100%;
        grid-column: 2 / span 6;
        scale: 100%;
    }

    /* mobile opening and closing of side menus */
    #system-grid .open-right {
        transform-origin: left;
        animation: grid-open-right-effect forwards .2s ease;
    }

    @keyframes grid-open-right-effect {
        0% {
            scale: 100%;
        }
        99% {
            scale: 25% 100%;
        }
        100% {
            scale: 100%;
            grid-column: 2;
        }
    } 

    #system-grid .open-left {
        transform-origin: right;
        animation: grid-open-left-effect forwards .2s ease;
    }

    @keyframes grid-open-left-effect {
        0% {
            scale: 100%;
        }
        99% {
            scale: 25% 100%;
        }
        100% {
            scale: 100%;
            grid-column: 7;
        }
    }

    .panel {
        background: #F7F7F7;
        border-radius: 1rem;
        border: 2px solid var(--highlight-color);
        box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, .25);
    }

    #control-panel {
        grid-row: 1 / span 3;
        grid-column: 1;
        display: block;
        scale: 0% 100%;
        user-select: none;
        pointer-events: none;
    }

    #system-grid .open-settings {
        scale: 100% !important;
        grid-column: 2 / span 5 !important;
    }

    #quick-access-panel {
        grid-row: 1;
        grid-column: 2 / span 6;
    }

    #server-panel {
        grid-row: 2 / span 2;
        grid-column: 2 / span 6;
        height: fit-content;
        padding: .5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #info-panel {
        grid-row: 1 / span 3;
        display: block;
        user-select: none;
        pointer-events: none;
        scale: 0% 100%;
        transform-origin: right;
    }

    #system-grid .open-info {
        scale: 100% !important;
        grid-column: 3 / span 8 !important;
        transition: scale .2s ease;
    }

    .panel-title {
        display: block;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.25rem;
        font-weight: bold;
        margin: .5rem 0 .5rem 0;
        text-decoration: underline;
        width: 100%;
    }

    .settings-button {
        display: block;
        background-color: var(--accent-color);
        margin: auto;
        margin-top: 0;
        text-decoration: none;
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        border: 2px solid var(--highlight-color);
        border-radius: 0.625rem;
        color: var(--text-color-dark);
        transition: all .2s ease;
        user-select: none;
    }

    @media(pointer: fine) {
        .settings-button:hover {
            background-color: var(--primary-color-dark);
            color: var(--text-color-light);
            border-color: rgba(0, 0, 0, 0);
            transition: all .2s ease;
        }
    }

    #full-server-list {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 100%;
        padding: 1rem;
        list-style: none;
        gap: 1rem;
        background-color: var(--primary-color-light);
        margin: auto;
        overflow-x: hidden;
        border-radius: 1rem;
        flex: 1 1 0;
        border: .5rem solid rgb(71, 71, 71);
        box-shadow: inset 0px 0px 1px 3px rgba(0, 0, 0, .2);
    }

    #full-server-list::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }

    #full-server-list::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 0.5rem;
    }

    #full-server-list::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    #full-server-list .server-card {
        width: 100%;
        background-color: var(--primary-color-dark);
        color: var(--text-color-light);
        height: fit-content;
        padding: 3rem 3rem 3rem 0.5rem;
        box-shadow: -3px 3px 0px 2px var(--accent-color);
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        pointer-events: none;
        transition: .2s background-color ease-in, .3s box-shadow;
    }

    #full-server-list .hovered-card {
        background-color: var(--highlight-color);
        box-shadow: -2px 2px 0px 0px var(--primary-color-dark);
        transition: .3s background-color ease-out, .4s box-shadow;
    }

    #full-server-list #no-server-card {
        text-align: center;
    }

    #full-server-list .status-divider {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #full-server-list .activity-wrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }

    #full-server-list .online-dot,
    #full-server-list .offline-dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    #full-server-list .online-dot {
        background: radial-gradient(lime, green);
        box-shadow: 0px 0px 1px 1px lime, 0px 0px 3px 3px lime;
    }

    #full-server-list .offline-dot {
        background: radial-gradient(red, rgb(128, 0, 0));
        box-shadow: 0px 0px 1px 1px red, 0px 0px 3px 3px red;
    }

    #full-server-list .server-button {
        position: absolute;
        left: 0;
        bottom: 0;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        opacity: 0;
        pointer-events: all;
    }

    @media(pointer: fine) {
        #full-server-list .server-button:hover {
            cursor: pointer;
        }
    }

    #full-server-list form {
        position: absolute;
    }

    #mobile-controls-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #mobile-controls-wrapper .control-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        gap: 1rem;
        height: 2.5rem;
        background: none;
        border: none;
        padding: 0rem .5rem;
        white-space: nowrap;
        color: var(--text-color-light);

        img, span {
            user-select: none;
            -webkit-user-drag: none;
            pointer-events: none;
        }

        span {
            display: block;
        }
    }

    #mobile-controls-wrapper #right-control {
        flex-direction: row-reverse;
        img {
            rotate: 180deg;
        }
    }
}

/* switch the dashboard panels back to the side */
@media(min-width: 1275px) {

    #system-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto auto auto;
    }

    #system-grid .open-left {
        animation: none;
    }

    #system-grid .open-right {
        animation: none;
    }

    #system-grid .open-info {
        animation: none;
        grid-column: 8 !important;
    }

    #system-grid .open-settings {
        animation: none;
        grid-column: 1 !important;
    }

    #control-panel {
        user-select: all;
        pointer-events: all;
        scale: 100%;
    }

    #info-panel {
        user-select: all;
        pointer-events: all;
        scale: 100%;
    }

    #mobile-controls-wrapper {
        display: none;
    }
}
