@media(min-width: 0px)
{
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .background-gradient {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0%, 0% 50%, 100% 35%, 100% 0%);
        background-image: radial-gradient(ellipse at bottom left, var(--accent-color), transparent),
        radial-gradient(ellipse at top left, rgb(247, 119, 35), transparent 25%),
        radial-gradient(ellipse at top, var(--highlight-color), transparent),
        radial-gradient(ellipse at right, rgb(247, 119, 35), transparent);
        animation: 30s background-color linear forwards infinite;
    }

    #user-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 1rem 2rem;
        background: #F7F7F7;
        box-shadow: 0px 5.125rem 40px -14px rgba(64, 64, 64, .3);
    }

    #user-form-container .title-wrapper {
        text-align: center;
        margin-bottom: 2rem;
        user-select: none;
    }

    #user-form-container span {
        color: var(--primary-color-dark);
        font-size: clamp(1.75rem, 4vw, 3.25rem);
        text-transform: capitalize;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        word-spacing: -0.75rem;
    }

    #user-form-container .subheading {
        font-size: clamp(1.25rem, 2vw, 1.5rem);
        text-transform: capitalize;
    }

    #user-form-container .form-field{
        margin: auto;
        width: 100%;
        max-width: 30rem;
        min-width: 0rem;
        height: 4rem;
        padding: .25rem;
        border: 1px solid var(--accent-color);
        font-size: 1.5rem;
        min-width: 0px;
    }

    #user-form-container .form-field::placeholder {
        color: black;
        font-size: 1.5rem;
        margin: auto 0;
    }

    #user-form-container .form-field:focus{
        border: 3px solid var(--highlight-color);
        box-shadow: none;
    }

    #user-form-container .asteriskField{
        display: none;
    }

    #user-form-container form div:has(.check-field){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    #user-form-container .check-field {
        width: 1.25rem;
        height: 1.25rem;
        margin: 1rem 0rem;
    }

    #user-form-container .user-form-submit {
        width: 100%;
        height: fit-content;
        font-size: 1rem;
        border: none;
        padding: 1rem 0rem;
        font-weight: bold;
        color: white;
        background-color: black;
        text-transform: uppercase;
        transition: .2s ease background-color;
    }

    #user-form-container #submit-button {
        margin-top: 2rem;
    }

    #user-form-container .suggest-link {
        color: var(--primary-color-dark);
    }

    @media(pointer: fine) {
        #user-form-container .user-form-submit:hover{
            cursor: pointer;
            background-color: var(--primary-color-dark);
            transition: .2s ease background-color;
        }
    }
}

@media(min-width: 768px)
{
    #user-form-container .form-field{
        min-width: 30rem;
    }

    #user-form-container {
        padding: 2rem 9.538rem;
    }
}

@keyframes background-color {
    0% {
        background-color: rgb(100, 30, 165);
    }
    10% {
        background-color: rgb(20, 150, 255);
    }
    20% {
        background-color: rgb(0, 255, 200);
    }
    30% {
        background-color: rgb(0, 255, 80);
    }
    40% {
        background-color: rgb(255, 255, 0);
    }
    50% {
        background-color: rgb(255, 150, 0);
    }
    60% {
        background-color: rgb(255, 60, 0);
    }
    70% {
        background-color: rgb(255, 0, 100);
    }
    80% {
        background-color: rgb(255, 0, 255);
    }
    90% {
        background-color: rgb(100, 0, 255);
    }
    100% {
        background-color: rgb(100, 30, 165);
    }
}