{% extends "SocialCircleProject/base.html" %}
{% load static %}

{% block title %}Home Dashboard{% endblock title %}
{% block description %}Welcome to Social Circle! This is a simple social networking platform where you can connect with friends and family.{% endblock description %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user/home.css' %}"/>
{% endblock styles %}

{% block content %}
    <a href="{% url 'logout' %}">Logout</a>
    <h1>{{username}}</h1>
{% endblock content %}