{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Social Circle{% endblock title %}
    </title>

    <link rel="stylesheet" href="{%static 'css/globalstyles.css'%}"/>
    {% block styles %}
    {% endblock styles %}

    <meta name="description" content="{% block description%}Connect with friends and family{%endblock description%}"/>
</head>
<body>
    {% block header %}
    {% endblock header %}
    <main>
        {% block content %}
            <h1>Welcome To Social Circle!</h1>
        {% endblock content %}
    </main>
    {% block footer %}
    {% endblock footer %}
</body>
</html>