{% load static %}

<div id="nav-bar" class="container">
    <div class="logo-wrapper">
        <img class="full-image" src="{% static '/icons/SocialCircleLogo.svg' %}" alt="social circle logo" draggable="false">
    </div>
    <button id="nav-user-button" class="user-button" aria-expanded="false" aria-controls="user-menu" aria-label="profile button">
        <span aria-hidden="true">{{user_initial}}</span>
    </button>
    <ul id="user-menu">
        <li>
            <span>{{username}}</span>
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>